<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylr.css">
    <title>Home</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/users/signUp">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </header>
    <h1>Home</h1>
    <p>this is the landing page</p>
</body>
<script>
    if (window.document.cookie.split('=')[1] && window.document.cookie.split('=')[1].length>20) {
        window.location.replace('./users/dashboard');
    }
</script>
</html>