<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <title>Login</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/resetPassword">Reset Password</a></li>
        </ul>
    </header>

    <ul>
        <% if(messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
       <% } %>
    </ul>

    <ul>
        <% if(messages.error) { %>
            <li><%= messages.error %></li>
       <% } %>
    </ul>

    <ul>
        <% if(typeof errors != 'undefined') { errors.forEach(error => { %>
            <li><%= error.message %></li>
       <% })%>
            
        <%} %>
    </ul>


    <h1>welcome</h1>
    <form action="/api/v1/users/login" method="post">
        <div>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        
        <div class="btns">
            <button class="submitBtn btn" type="submit" value="login">Login</button>
        <!-- <button class="resetBtn btn" type="reset" value="reset">Reset</button> -->
        </div>
        <a href="/users/signUp">Have you Registered? Sign Up</a>
    </form>
</body>
<script>
    if (window.document.cookie.split('=')[1] && window.document.cookie.split('=')[1].length>20) {
        window.location.replace('./dashboard');
    }
</script>
</html>